{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper questions">
        <h2 class="section_title">Random questions</h2>
        {% if score is defined %}
            <section class="questions__results">
                {{ score.score }} / {{ score.nbrQuestion }}
            </section>
        {% endif %}

        <section class="symfony_form">
            {{ form_start(form) }}
            {% for child in form.children %}
                {% set questionId = (child.vars.name | toInt) %}
                {% set is_valid = (correction[questionId] is defined and not (false in correction[questionId])) %}
                <div class="questions__random__form__tab d-none {{ correction is defined  ? (is_valid ? 'sucess' : 'error') : '' }}">
                    {% if child.vars.row_attr.name is defined %}
                        <h3>{{ child.vars.row_attr.name }}</h3>
                    {% endif %}
                    {{ form_row(child) }}
                </div>
            {% endfor %}
            <div class="questions__random__form__btn_group">
                <button type="button" id="prevBtn" class="btn btn-secondary ">Previous</button>
                <button type="button" id="nextBtn" class="btn btn-primary">Next</button>
            </div>
            {{ form_end(form) }}
        </section>
    </div>
{% endblock %}