{% extends 'base.html.twig' %}
{% block body %}
    <div class="wrapper">
        <section class="questions">
            <h2 class="section_title">Random questions</h2>
        </section>
        <section class="questions__random__form">
            <form action="" id="questions__random">
                {% for question in questions %}
                    <div class="questions__random__form__tab">
                        <h2 class="questions__random__form__tab__title">{{ question.title }}</h2>
                        <legend>{{ question.text }}</legend>
                        {% for answer in question.answers %}
                            <input type="checkbox" id="questions__random__form__tab__{{ answer.id }}" name="questions__random__form__tab__{{ answer.id }}" />
                            <label for="questions__random__form__tab__{{ answer.id }}">{{ answer.text }}</label>
                        {% endfor %}
                    </div>
                {% endfor %}

                <div>
                    <div>
                        <button type="button" id="btn btn-secondary prevBtn">Previous</button>
                        <button type="button" id="nextBtn btn btn-primary">Next</button>
                    </div>
                </div>

            </form>
        </section>
    </div>
{% endblock %}