<nav>
	<ul class="menu">
		<li class="menu-link">
			<span>Content</span>
			<ul class="sub-menu">
				<li>
					<a href="">Homepage</a>
					<a href="">Legal mentions</a>
				</li>
			</ul>
		</li>
		<li class="menu-link">
			<span>Questions</span>
			<ul class="sub-menu">
				<li>
					<a href="{{ path('app_admin_question') }}">See all questions</a>
					<a href="{{ path('admin_question_edit') }}">Add new questions</a>
				</li>
			</ul>
		</li>
		<li class="menu-link">
			<span>Tags</span>
			<ul class="sub-menu">
				<li>
					<a href="{{ path('app_admin_tags') }}">See all tags</a>
					<a href="{{ path('app_admin_add_tags',{'tag':null}) }}">Add new tags</a>
				</li>
			</ul>
		</li>
		<li class="menu-link">
			<span>Exams</span>
			<ul class="sub-menu">
				<li>
					<a href="">Settings</a>
					<a href="">Create new exams</a>
				</li>
			</ul>
		</li>
		<li class="menu-link">
			<span>Users</span>
			<ul class="sub-menu">
				<li>
					<a href="{{ path('admin_users') }}">See all users</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
